api/genaifinderdbmanager/target/

app/GenAIFinder/.idea/workspace.xml

app/GenAIFinder/.gradle/

app/GenAIFinder/.idea/deploymentTargetSelector.xml

app/GenAIFinder/.idea/

api/genaifinderapi/resources/
docs/iscc_content_code_sicherheitsbetrachtung/.vscode/
